ProgCC1/proj.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="programmations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="seance" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="salle" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:date" name="jour" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:integer" name="trancheHoraire" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:integer" name="film" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:integer" name="copie" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>