ProgCC1/proj.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="programmations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="programmation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="salle"/>
              <xs:element type="xs:date" name="jour"/>
              <xs:element type="xs:integer" name="trancheHoraire"/>
              <xs:element type="xs:integer" name="film"/>
              <xs:element type="xs:integer" name="copie"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>